@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
</head>
<body>
    <h1> About the Author</h1>

    <div>
        <ul>
            <li><lable>Kimmy Dee</lable></li>
            <li><lable>Awesome</lable></li>
        </ul>
    </div>

</body>
</html> 