@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
</head>
<body>
    <h1> Kimmy Dee</h1>

    <div>
        <ul>
            <li><lable>Email: kimmydee2018@kimmydee.com</lable></li>
            <li><lable>Cell: 123 456 7891</lable></li>
        </ul>
    </div>

</body>
</html> 